:root {
    --fg: black;
    --bg: white;
    --hl: lightblue;
    --link: purple;
}

body {
    font-family: Courier New, Trebuchet MS, Arial;
    font-size: 1.2rem;

    background-color: var(--bg);
    color: var(--fg);

    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--link);
}

#heading {
    background-color: var(--hl);
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
}

#heading-title {
    padding: 1rem;
    font-size: 3rem;
    margin: 0;
}

#sub-heading {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

#infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.info {
    flex-basis: 0;
    flex-grow: 1;

    font-size: 1.5rem;

    border-radius: 1rem;
    padding: 1rem;
    white-space: nowrap;
}

.info-content {
    padding: 0 1rem;
}

.info h2 {
    background-color: var(--hl);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

h2 {
    margin: 0;
}

#orga-info {
    white-space: wrap;
}

#forderungen-liste {
    list-style: square;
    padding: 0;
    list-style-position: inside;
}

.forderung {
    padding: 15px 0;
    font-weight: bold;
}

@media only screen and (max-width: 700px) {
    #heading {
        font-size: 1rem;
    }

    #heading-title {
        font-size: 2rem;
    }

    #sub-heading {
        font-size: 1rem;
    }

    #infos {
        flex-direction: column;
    }

    .info {
        font-size: 1rem;
        white-space: wrap;
    }
}
